<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon  glyphicon-piggy-bank"></span>
                Menu:
            </a>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/add">Add new student</a>
                </li>
                <li>
                    <a href="/contact">Contact us</a>
                </li>
                <li>
                    <a href="/about">About the App</a>
                </li>
            </ul>
        </div>

    </div>
</nav>