body {
    width:100vw;
    height: auto;
    padding-top: 50px;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;

}
h2{
    color:rgb(204, 129, 17);
    text-align: center;
    font-size: 2.5vw;
}
input, button {
    margin: 10px 0;
}
.media{
    width:40vw;
    height: auto;
    border: 1px solid orange;
    margin: 3px;
    padding:5px;
}
.header-title{
    color:orange;
}
.titles{
    color:orange;
    font-size: 2vw;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    margin: auto;
    text-align: center;
}
img{
    width:100%;
    max-height:50%;
}    
.title {
    color: grey;
    font-size: 18px;
}

.mybutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}