<!-- views/pages/addConfirmation.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">

            <h2>Welcome to The Integrify Photos Gallery - Update page</h2>
            <% include ../partials/menu %>


                <a href="/">
                    <h3>
                        <%=message%>
                    </h3>
                </a>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>